.panel-container {
  width: 600%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
