html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}

.newContainer {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  width: 100vw;
  height: 100vh;
}
