@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "futura-hv-bt-heavy";
  src: url("./assets/fonts/FutuHv.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  background: #171717;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.welcome-text {
  position: absolute; /*Setting text in on the same section to allow interchangeable text animation*/
  width: 100%; /*Set div width to fit browser*/
  top: 45%; /*Set text at the center of <div>*/
  /*setting animation */
  animation: textrotate 10s linear infinite;
  /* animation-name: textrotate;
  animation-duration: 10s;
  animation-iteration-count: infinite; */
}

/*WELCOME TEXT ANIMATION*/
#welcome-txt1 {
  animation-delay: -10s;
} /*Neg timing to hide text before animation starts*/
#welcome-txt2 {
  animation-delay: -8s;
}
#welcome-txt3 {
  animation-delay: -6s;
}
#welcome-txt4 {
  animation-delay: -4s;
}
#welcome-txt5 {
  animation-delay: -2s;
}

@keyframes textrotate {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  2.5% {
    transform: translateY(-40%);
    opacity: 1;
  }
  5% {
    transform: translateY(-40%);
    opacity: 1;
  }
  7.5% {
    transform: translateY(-40%);
    opacity: 0;
  }
  10% {
    transform: translateY(-60%);
    opacity: 0;
  }
  12% {
    transform: translateY(-60%);
    opacity: 0;
  }
  20% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.welcome-text h1 {
  /*Text container styling*/
  text-align: center;
  padding: 0;
  margin: 0;
  /*Text styling*/
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.25rem; /*Wide spacing between letters*/
  /*animation*/
  transition: 1s ease-in-out;
}

.progressMainWrapper {
  background-color: #363636;
  height: 2px;
}

.progressMainStyle {
  height: 2px;
  background-color: #00ffff;
  width: 15%;
}

/* Project Card Styling */

.project-card {
  position: relative;
  max-width: 320px;
  margin: auto;
  border-radius: 22px;
  padding: 34px;
  background: #2e2e2e;
  box-shadow: -2px -5px 14px 1px rgba(0, 0, 0, 0.63) inset,
    2px 5px 14px 0px #6c6969 inset;
}

.project-main-card .project-card:nth-child(2n) {
  top: 60px;
}

@media screen and (max-width: 768px) {
  .project-main-card .project-card:nth-child(2n) {
    top: 0px;
  }
}
/* Expertise Card Styling */

.expertise-card {
  position: relative;
  max-width: 320px;
  margin: auto;
  border-radius: 22px;
  padding: 34px;
  background: #2e2e2e;
  box-shadow: -2px -5px 14px 1px rgba(0, 0, 0, 0.63) inset,
    2px 5px 14px 0px #6c6969 inset;
}

/* Contact Card Styling */
.contact-card {
  border-radius: 65.5px;
  background: #2e2e2e;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.63) inset,
    4px 4px 13px 0px rgba(108, 105, 105, 0.25) inset;
}
